* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-main: #141619;

}
.page {
  background-color: var(--bg-main);
  min-height: 100vh;
}
/* media query container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px){
  .container {
    width: 100%;
  }
}
@media (min-width: 577px ){
  .conatiner {
    max-width: 540px;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px){
  .container {
    max-width: 1350px;
  }
}