@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
:root {
  --bg-main: #141619;
  --main-color:#E5E5E5;

}
.page {
  background-color: var(--bg-main);
  min-height: 100vh;
  font-family: "Inter", serif;
}
/* media query container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px){
  .container {
    width: 100%;
  }
}
@media (min-width: 577px ){
  .conatiner {
    max-width: 540px;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px){
  .container {
    max-width: 1350px;
  }
}

/*header*/
.header {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 180px;
}
.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.header > button {
  background-color: transparent;
  padding: 1px 7.36px 1px 27px;
  border: none;
  color: #fff;
  position: relative;
}
.header > button > span {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}
.header > button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}
/*End Header*/
/************************/
/* start main section */
.main {
  max-width: 584px;
  height: 392px;
  margin: 1rem auto 300px;
  text-align: center;
  padding: 10px;
}
.main > h1 {
  font-size: 76px;
  font-weight: 500;
  line-height: 86px;
  margin-bottom: 2.5rem;
}
.main > h2 {
  font-size: 74px;
  font-weight: 500;
  line-height: 86px;
  margin-bottom: 1.5rem;
}
.main > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 1.5rem;
}
.main > button {
  font-size: 19px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
/*End main section*/
/* *************** */
/* Start about section */
.about > h3 {
  font-size: 56px;
  font-weight: 500;
  line-height: 78px;
  text-align: center;
  margin-bottom: 1.5rem;
}
.about > p {
  max-width: 612px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 2.5rem;

}
.about > .measure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  .box1 {
    text-align: center;
    h3 {
      font-size: 32px;
      line-height: 57.8px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      max-width: 160px;
    }
  }
  .box2 {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    h3 {
      font-size: 40px;
      line-height: 68px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      color: #fff !important;
      max-width: 214px;
    }
  }
  .box3 {
    h3 {
      font-size: 39px;
      line-height: 68px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      max-width: 165px;
    }
  }
  .box4 {
    h3 {
      font-size: 38px;
      line-height: 68px;
    }
    p {
      font-size: 19px;
      line-height: 30px;
      max-width: 209px;
    }
  }
  .box5 {
    h3 {
      font-size: 37px;
      line-height: 68px;
    }
    p {
      font-size: 17px;
      line-height: 30px;
    }
  }
  .box6 {
    h3 {
      font-size: 39px;
      line-height: 68px;
    }
    p {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    }
  }
  .box7 {
    h3 {
      font-size: 38px;
      line-height: 68px;  
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .box8 {
    h3 {
      font-size: 38px;
      line-height: 68px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }

}
.about > .measure > .box  {
  width: 264px;
  padding: 2rem;
  text-align: center;
  h3 {
    font-weight: 500;
  }
  p {
    font-weight: 400;
    color: var(--main-color);
    margin-left: auto;
    margin-right: auto;
  }
}
.line {
    height: 2px;
    position:absolute;
    width: 1052px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    top: 53.5%;
}
.line-h {
  position: absolute;
  width: 2px;
  height: 352px;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}
.line-h1 {
  left: 26.8%;
}
.line-h2 {
  left: 50%;
}
.line-h3 {
  left: 74%;
}
/* End about Section */
/* start marking section */
.marking {
  position: relative;
  text-align: center;
  z-index: 8;
  h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 78px;
    margin-bottom: 1.5rem;
  }
  > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 3rem;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4.5rem;
  }
  .card {
    display: flex;
    gap: 150px;
    .card-item {
      h2{
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
        text-align: left;
        max-width: 404px;
        margin-bottom: 1.5rem;
      }
      .para1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
        max-width: 390px;
        margin-bottom: 1rem;
      }
      .para2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        max-width: 396px;
        color: var(--main-color);
        margin-bottom: 1.5rem;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        span{
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
        }
      ::before {
        content: '';
        top: 30px;
        display: block;
        z-index: 22;
        position: relative;
        width: 99.84px;
        height: 2px;
        background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
      }
      }
      
    }
    .images {
      .bar {
        position: relative;
        img {
          position: absolute;
        }
      }
      .bar1 {
        img:nth-child(1){
          top: -10px;
          left: 38px;
        }
        img:nth-child(2){
          top: 58px;
          z-index: 11;
          left: 5px;
        }
        img:nth-child(3){
          top: 54px;
          z-index: 7;
        }
        img:nth-child(4){
          top: 75px;
        }
      }
      .bar2 {
        img:nth-child(1){
          z-index: 13;
          left: 105px;
          top: -24px;
        }
        img:nth-child(2){
          z-index: 12;
          left: 86px;
          top: 86px;
        }
        img:nth-child(3){
          left: 67px;
          top: 80px;
          z-index: 11;
        }
        img:nth-child(4){
          z-index: 10;
          left: 67px;
          top: 89px;
        }
      }
      .bar3 {
        img:nth-child(1){
          z-index: 13;
          left: 222px;
          top: 140px;
        }
        img:nth-child(2){
          z-index: 12;
          left: 216px;
          top: 231px;
        }
        img:nth-child(3){
          z-index: 11;
          left: 200px;
          top: 220px;
        }
        img:nth-child(4){
          z-index: 10;
          left: 199px;
          top: 247px;
        }
      }
      .bar4 {
        img:nth-child(1){
          top: 160px;
          left: 0px;
          z-index: 22;
        }
        img:nth-child(2){
          top: 234px;
          left: -9px;
          z-index: 11;
        }
        img:nth-child(3){
          top: 232px;
          left: -15px;
          z-index: 7;
        }
        img:nth-child(4){
          top: 255px;
          left: -14px;
          z-index: 3;
        }
      }
    }
  }
  .blog {
    width: 2038.89px;
    height: 2018.93px;
    position: absolute;
    top: -458.32px;
    left: -953px;
    transform: rotate(-60deg);
    z-index: -1;
  }
  .card2 {
    display: flex;
    gap: 150px;
    margin-top: 100px;
    .item1 {
      display: flex;
      flex-direction: column;
      img:nth-child(1){
        position: relative;
        z-index: 555;
        top: -50px;
      }
      img:nth-child(2){
        margin-top: -300px;
      }

    }
    .item2 {
      h2 {
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
        text-align: left;
      }
      .para1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
        margin-bottom: 1rem;
      }
      .para2 {
        font-size: 19px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: var(--main-color);
        margin-bottom: 1.5rem;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        span{
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
        }
      ::before {
        content: '';
        top: 30px;
        display: block;
        z-index: 22;
        position: relative;
        width: 99.84px;
        height: 2px;
        background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
      }
      }
    }
  }
}

/* end marking section */


/**Responsive**/
@media (max-width: 772px){
  .header {
    ul {
      display: none;
    }
  }
  .main {
    h1 {
      font-size: 50px !important;
      margin-bottom: 0;
    }
    h2 {
      font-size: 45px !important;
      margin-bottom: 0;
    }
  }
}
@media (max-width: 1200px) {
  .line,.line-h {
    display: none;
  }
  
}
/****/