@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
:root {
  --bg-main: #141619;
  --main-color:#E5E5E5;

}
.page {
  background-color: var(--bg-main);
  min-height: 100vh;
  font-family: "Inter", serif;
  overflow: hidden;
}
/* media query container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px){
  .container {
    width: 100%;
  }
}
@media (min-width: 577px ){
  .conatiner {
    max-width: 540px;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px){
  .container {
    max-width: 1350px;
  }
}

/*header*/
.header {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 180px;
}
.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.header > button {
  background-color: transparent;
  padding: 1px 7.36px 1px 27px;
  border: none;
  color: #fff;
  position: relative;
}
.header > button > span {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}
.header > button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}
/*End Header*/
/************************/
/* start main section */
.main {
  max-width: 584px;
  height: 392px;
  margin: 1rem auto 300px;
  text-align: center;
  padding: 10px;
}
.main > h1 {
  font-size: 76px;
  font-weight: 500;
  line-height: 86px;
  margin-bottom: 2.5rem;
}
.main > h2 {
  font-size: 74px;
  font-weight: 500;
  line-height: 86px;
  margin-bottom: 1.5rem;
}
.main > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 1.5rem;
}
.main > button {
  font-size: 19px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
/*End main section*/
/* *************** */
/* Start about section */
.about > h3 {
  font-size: 56px;
  font-weight: 500;
  line-height: 78px;
  text-align: center;
  margin-bottom: 1.5rem;
}
.about > p {
  max-width: 612px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 2.5rem;

}
.about > .measure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  .box1 {
    text-align: center;
    h3 {
      font-size: 32px;
      line-height: 57.8px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      max-width: 160px;
    }
  }
  .box2 {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    h3 {
      font-size: 40px;
      line-height: 68px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      color: #fff !important;
      max-width: 214px;
    }
  }
  .box3 {
    h3 {
      font-size: 39px;
      line-height: 68px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      max-width: 165px;
    }
  }
  .box4 {
    h3 {
      font-size: 38px;
      line-height: 68px;
    }
    p {
      font-size: 19px;
      line-height: 30px;
      max-width: 209px;
    }
  }
  .box5 {
    h3 {
      font-size: 37px;
      line-height: 68px;
    }
    p {
      font-size: 17px;
      line-height: 30px;
    }
  }
  .box6 {
    h3 {
      font-size: 39px;
      line-height: 68px;
    }
    p {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    }
  }
  .box7 {
    h3 {
      font-size: 38px;
      line-height: 68px;  
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .box8 {
    h3 {
      font-size: 38px;
      line-height: 68px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }

}
.about > .measure > .box  {
  width: 264px;
  padding: 2rem;
  text-align: center;
  h3 {
    font-weight: 500;
  }
  p {
    font-weight: 400;
    color: var(--main-color);
    margin-left: auto;
    margin-right: auto;
  }
}
.line {
    height: 2px;
    position:absolute;
    width: 1052px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    top: 53.5%;
}
.line-h {
  position: absolute;
  width: 2px;
  height: 352px;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}
.line-h1 {
  left: 26.8%;
}
.line-h2 {
  left: 50%;
}
.line-h3 {
  left: 74%;
}
/* End about Section */
/* start marking section */
.marking {
  position: relative;
  text-align: center;
  z-index: 8;
  margin-bottom: 10rem;
  h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 78px;
    margin-bottom: 1.5rem;
  }
  > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 3rem;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4.5rem;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    .card-item {
      h2{
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
        text-align: left;
        max-width: 404px;
        margin-bottom: 1.5rem;
      }
      .para1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
        max-width: 390px;
        margin-bottom: 1rem;
      }
      .para2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        max-width: 396px;
        color: var(--main-color);
        margin-bottom: 1.5rem;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        span{
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
        }
      ::before {
        content: '';
        top: 30px;
        display: block;
        z-index: 22;
        position: relative;
        width: 99.84px;
        height: 2px;
        background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
      }
      }
      
    }
    .images {
      .bar {
        position: relative;
        img {
          position: absolute;
        }
      }
      .bar1 {
        img:nth-child(1){
          top: -10px;
          left: 38px;
        }
        img:nth-child(2){
          top: 58px;
          z-index: 11;
          left: 5px;
        }
        img:nth-child(3){
          top: 54px;
          z-index: 7;
        }
        img:nth-child(4){
          top: 75px;
        }
      }
      .bar2 {
        img:nth-child(1){
          z-index: 13;
          left: 105px;
          top: -24px;
        }
        img:nth-child(2){
          z-index: 12;
          left: 86px;
          top: 86px;
        }
        img:nth-child(3){
          left: 67px;
          top: 80px;
          z-index: 11;
        }
        img:nth-child(4){
          z-index: 10;
          left: 67px;
          top: 89px;
        }
      }
      .bar3 {
        img:nth-child(1){
          z-index: 13;
          left: 222px;
          top: 140px;
        }
        img:nth-child(2){
          z-index: 12;
          left: 216px;
          top: 231px;
        }
        img:nth-child(3){
          z-index: 11;
          left: 200px;
          top: 220px;
        }
        img:nth-child(4){
          z-index: 10;
          left: 199px;
          top: 247px;
        }
      }
      .bar4 {
        img:nth-child(1){
          top: 160px;
          left: 0px;
          z-index: 22;
        }
        img:nth-child(2){
          top: 234px;
          left: -9px;
          z-index: 11;
        }
        img:nth-child(3){
          top: 232px;
          left: -15px;
          z-index: 7;
        }
        img:nth-child(4){
          top: 255px;
          left: -14px;
          z-index: 3;
        }
      }
    }
  }
  .blog {
    width: 2038.89px;
    height: 2018.93px;
    position: absolute;
    top: -458.32px;
    left: -953px;
    transform: rotate(-60deg);
    z-index: -1;
  }
  .card2 {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin-top: 150px;
    .item1 {
      display: flex;
      flex-direction: column;
      img:nth-child(1){
        position: relative;
        z-index: 555;
        top: -50px;
      }
      img:nth-child(2){
        margin-top: -300px;
      }

    }
    .item2 {
      h2 {
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
        text-align: left;
      }
      .para1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
        margin-bottom: 1rem;
        max-width: 392px;
      }
      .para2 {
        font-size: 19px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: var(--main-color);
        margin-bottom: 1.5rem;
        max-width: 422px;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        span{
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
        }
      ::before {
        content: '';
        top: 30px;
        display: block;
        z-index: 22;
        position: relative;
        width: 99.84px;
        height: 2px;
        background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
      }
      }
    }
  }
}

/* end marking section */
/* start friends */
.friends {
  display: flex;
  align-items: center;
  gap: 140px;
  margin-bottom: 4rem;
  position: relative;
  h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 78px;
    max-width: 400px;
    position: relative;
    z-index: 444;
  }
  .bit {
    width: 408px;
    height: 696px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .bitmap1 {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: -280px;
      div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      }
      > div {
        width: 192px;
        height: 192px;
        padding: 56px 56px 25px 56px;
        border-radius: 4px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        background: linear-gradient(180deg, rgba(65, 85, 114, 0.15) 0%, rgba(27, 27, 30, 0.1) 100%);
        border: 1px solid #41557280;
        span {
          font-size: 11px;
          font-weight: 400;
          line-height: 22px;
          text-align: center;
          display: block;
          color: #999;

        }

      }
    }
    .bitmap2{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 255px;
      div:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
      }
      > div {
        width: 192px;
        height: 192px;
        padding: 56px 56px 25px 56px;
        border-radius: 4px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        background: linear-gradient(180deg, rgba(65, 85, 114, 0.15) 0%, rgba(27, 27, 30, 0.1) 100%);
        border: 1px solid #41557280;
        span {
          font-size: 11px;
          font-weight: 400;
          line-height: 22px;
          text-align: center;
          display: block;
          color: #999;

        }

      }
    }
    ::before,::after {
      content: '';
      position: absolute;
      width: 408px;
      height: 152px;
      background:#141619;
      opacity: 0.1;
    }
    ::before {
      left:0;
      top: -40px;
    }
    ::after {
      bottom: -28px;
      left:0;
    }
  }
  .imgs {
    img {
      position: absolute;
    
    }
    .one {
      width: 829.23px;
      height: 831.14px;
      top: -66px;
      left: -540.01px;
      transform: rotate(-5.94 deg);
    }
    .two {
      width: 96px;
      height: 96px;
      top: 101.67px;
      left: -63.11px;
    }
    .three {
      width: 73px;
      height: 83px;
      top: -22.78px;
      left: -16.89px;    
    }
    .four {
      width: 72px;
      height: 82px;
      top: 63.88px;
      left: 68.45px;
    }
  }

}
/* end friends */
/* start blog */
.blogs {
  h1 {
    font-size: 57px;
    font-weight: 500;
    line-height: 78px;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    max-width: 602px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  .carsouil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    button {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button:last-child {
      transform: rotate(-180deg);
    }
  }
  .para1{
    margin-bottom: 2rem;
  }
  .para2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    span {
      font-size: 14px;
      font-weight: 300;
      line-height: 18.4px;
      position: relative;
    }
    span::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #666;
      top: -6px;
      left: 190px;

    }
  }
  span {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
  }
  .slide {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    span {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #333333;
    }
    span.active {
      background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    }
  }
}
/* end blog */
/* start team section */
.team {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  position: relative;
  z-index: 55;
  margin-bottom: 150px;
  h1 {
    font-size: 53px;
    font-weight: 500;
    line-height: 78px;
    text-align: left;
    max-width: 505px;
  }
  p {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    max-width: 505px;
    margin-bottom: 1.5rem;
    color: var(--main-color);
  }
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    span{
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
    }
  ::before {
    content: '';
    top: 30px;
    display: block;
    z-index: 22;
    position: relative;
    width: 297.61px;
    height: 2px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  }
  }
  
  .blue{
    position: absolute;
    width: 567.1px;
    height: 401.03px;
    rotate: -0.17deg;
    left: -124px;
    top: -97px;
    z-index: -1;
  }
  .yellow {
    position: absolute;
    top: -90px;
    left: 119px;
  
  }
  
}

/* end team section */
/* start contact section */
.contact {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  z-index: 55;
  h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 78px;
  
  }
  p {
    margin: 2rem auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--main-color);
    max-width: 623px;
  }
  button {
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-radius: 2px;
    border: none;
    cursor: pointer;
  }
  .imgs {
    img {
      position: absolute;
      z-index: -1;
    }
    .one {
      width: 323.79px;
      height: 314.18px;
      top: 103.33px;
      left: 734.25px;
    }
    .two {
      width: 527.68px;
      height: 372.35px;
      top: 51.27px;
      left: -167.39px;
    }
    .three {
      width: 323.93px;
      height: 315.5px;
      top: -36.25px;
      left: 466.15px;
      transform: rotate(-3.8deg);
    }
    .four {
      width: 662.55px;
      height: 574.69px;
      top: -125.21px;
      left: 545.67px;
      transform: rotate(-11.8deg);
    }
  }
}
/* end contact section */
/* start footer */
.footer {
  padding-top: 6rem;
  padding-bottom: 3.5rem;
  border-top: 1px solid  #FFFFFF40;
  background: #141619;
  .footer-section {
    h5 {
      font-family: Inter;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5299999713897705px;
      text-align: left;
      margin-bottom: 1rem;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 6rem;
    ul {
      list-style: none;
      li {
        margin-bottom:  10px;
        a{
          text-decoration: none;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          text-align: left;
          color:  #BCBCBC;
          transition: all 0.3s ease;
        }
        a:hover {
          color: #fff;
        }


      }
      
    }
  }
  .footer-privacy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 18.4px;
      text-align: left;
      color: #BCBCBC;
    }
  }
}
/* end footer */
/**Responsive**/
@media (max-width: 772px){
  .header {
    ul {
      display: none;
    }
  }
  .main {
    h1 {
      font-size: 50px !important;
      margin-bottom: 0;
    }
    h2 {
      font-size: 45px !important;
      margin-bottom: 0;
    }
  }
  .card2 {
    margin-top: 450px !important;
  }
}
@media (max-width: 1200px) {
  .line,.line-h {
    display: none;
  }
  
}
/****/